
:root {
    --ngolab-brown: #F97316;
    --ngolab-gold: #00A2F4;
    --ngolab-green: #1E293B;
    --light-bg: #F9FAFB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F3F4F6;
    min-height: 100vh;
}

/* 2. TAMPILAN DASHBOARD  */

.header-user {
    padding: 20px 50px 10px 50px;
    background-color: var(--bg-light);
}

profile-card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid #eee;
}

.mobile-app {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 50px;
    box-shadow: 0 0 50px rgba(0,0,0,0.05);
}

.header-promo {
    background-color: #1E293B;
    padding: 60px 50px;
    border-radius: 0 0 40px 40px;
    position: relative;
}

.header-promo h1 {
    font-size: 48px;
    color: #F97316;
    font-weight: 800;
}

.header-promo p{
    color: white;
    font-weight: 500;
}

.point-box {
    background: white;
    margin: -40px 50px 30px 50px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.badge-point {
    background: #00A2F4;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

.redeem-link {
    color: #F97316;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.redeem-link:hover {
    text-decoration: underline;
}

/* 3. GRID MENU  */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 25px;
    padding: 20px 50px;
}

.food-item {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
}

.food-item:hover { transform: translateY(-10px); }

.food-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.food-info p{
    color: #FACC15;
    font-weight: 700;
}

.price{
    color: #FACC15;
    font-weight: 700;
}

.bottom-nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #F97316;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #eee;
    z-index: 100;
}

.bottom-nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

/* 5. STYLE LOGIN  */
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--ngolab-brown), var(--ngolab-gold));
}

.card-login {
    width: 100%;
    max-width: 380px;
    background: white;
    padding: 40px;
    border-radius: 30px;
}